/* Regole generali */

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: grey;
}

a {
  text-decoration: none;
  color: gray;
}

h2 {
  margin-left: 10px;
  margin-bottom: 10px;
  color: white;
}

h3 {
  margin-bottom: 5px;
  color: white;
}

ul {
  list-style: none;
}


#upgrade{
  position: fixed;
  width: calc(100% - 200px);
  background-color: black;
  height: 50px;
  z-index: 99;
}

button {
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 15px;
  cursor: pointer;
  padding: 5px 30px;
  margin-top: 10px;
}

button:hover {
  transform: scale(1.2);
  margin-right: 30px;
}


/* Regole main nav */

#main-nav {
  width: 200px;
  height: calc(100vh - 70px);
  /* position: relative; */
  z-index: 99;
  background-color: rgb(8, 11, 18);
  display: flex;
  flex-direction: column;
}

#logo {
  padding: 5px;
  width: 180px;
}

#logo img {
  width: 100%;
}

#nav-options {
  margin-top: 10px;
  color: grey;
}

#nav-options li {
  margin-bottom: 10px;
}

#nav-options a{
  padding: 10px;
}

#main-nav a:hover {
  color: white;
}
#nav-options .fa-bars {
  transform: rotate(90deg);
}

.current-section {
  border-left: 2px solid green;
  color: white;
}

#playlist {
  padding-left: 15px;
}

#main-nav h3, #add-playlist {
  padding-left: 10px;
}

.my-playlist {
  text-decoration: none;
}

#main-nav h3 {
  margin-top: 10px;
  margin-left: 10px;
}

#add-playlist {
  align-items: center;
  margin-left: 10px;
}

#add-playlist:hover {
  cursor: pointer;
}

#add-playlist:hover a{
  color: white;
}

#add-playlist:hover i{
  color: white;
}

#add-playlist a {
  padding: 15px;
}

#add-playlist .fa-square-plus{
  font-size: 40px;
  margin-bottom: 10px;
}

#playlist {
  overflow:auto;
  height: 70%;
}

#my-playlist li{
  margin: 10px 0;
}

#my-playlist a{
  padding: 10px 0;
}

#last-info {
  margin-left: 10px;
}

#last-info > a {
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  display: block;
}

#last-info h4 {
  color: white;
}

#user {
  padding: 5px;
  align-items: center;
}
#user h4 {
  padding-left: 10px;
}

#icon {
  width: 25px;
}

#user img{
  width: 100%;
  background-color:grey;
  border-radius: 50%;
}


/* Regole application */

#application {
  height: calc(100vh - 70px);
  width: calc(100% - 200px);
  overflow: auto;
  background-color: rgb(20, 25, 34);
}


#interface {
  margin-top: 70px;
}

#interface a {
  padding: 5px 10px;
}

#interface > span {
  margin-left: 10px;
}

.current-category {
  border-bottom: 2px solid green;
}

#categories {
  margin-bottom: 30px;
}

#categories a:hover {
  color: white;
}

#recently-played, #for-you, #artists {
  padding: 10px;
  margin: 15px 0;
  font-size: 12px;
}

.album {
  width: calc((100% /6) - 5px);
  margin-right: 5px;
}

.album img {
  width: 100%;
}

.album-cover {
  position: relative;
}

.artist img {
  border-radius: 360px;
}

#interface .fa-circle-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  display: none;
}

#interface .album-cover:hover .fa-circle-play{
  display: inline;
}

.album .album-cover:hover img {
  opacity: 0.7;
}

.album-infos {
  text-align: center;
}




/* Regole footer */

footer {
  position: relative;
  height: 70px;
  background-color: rgb(40, 40, 40);
  z-index: 999;
}

footer i {
  cursor: pointer;
}

.song {
  padding: 10px;
}

.song-image {
  height: 50px;
}

.song-image img{
  height: 100%;
}

.song-infos a {
  padding-left: 10px;
  color: white;
}

.song-infos a:hover {
  text-decoration: underline;
}

footer .col-xs-3 > .row {
  justify-content: space-between;
  align-items: center;
}

.song-options {
  color: grey;
}

.fa-heart {
  margin-right: 10px;
}

.song-options i:hover {
  color: white;
}

#song-setting {
  margin-bottom: 10px;
}

#song-setting i {
  color: white;
}

.bar {
  padding: 0 30px;
  font-size: 11px;
  justify-content: space-between;
  align-items: center;
}

.progress-bar {
  background-color: gray;
  border-radius: 50px;
  width: 85%;
  height: 8px;
}

.current-progress-bar {
  background-color: white;
  border-radius: 50px;
  width: 85%;
  height: 8px;
  justify-content: end;
}

.bar .fa-circle {
  display: none;
  color: white;
}

.bar:hover .fa-circle {
  display: inline;
  cursor: pointer;
}

.bar:hover .current-progress-bar {
  background-color: green;
}

#song-setting .fa-circle-play:hover{
  transform: scale(1.3);
}

#song-setting, #music-bar {
  margin-top: 10px;
}

#song-setting i {
  padding: 0px 10px;
  font-size: 18px;
}

#volume-setting {
  height: 10px;
  margin-top: 30px;
}

#trak-setting i {
  padding: 0px 10px;
  color: grey;
}

#trak-setting i:hover {
  color: white;
}


#volume-setting .bar {
  width: 60%;
  margin-top: 5px;
}

#volume-setting .current-progress-bar {
  width: 50%;
}

