/* Regole generali */

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

h2 {
  margin-left: 10px;
}

h3 {
  margin-bottom: 5px;
}

ul {
  list-style: none;
}

/* Regole upper */

#upper {
  height: 50px;
  background-color: rgb(8, 11, 18);;
}

button {
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 15px;
  cursor: pointer;
  padding: 5px 30px;
  margin-top: 10px;
}


/* Regole main nav */

#main-nav {
  width: 200px;
  height: calc(100vh - 70px);
  position: relative;
  z-index: 999;
  background-color: rgb(8, 11, 18);
  display: flex;
  flex-direction: column;
}

#logo {
  padding: 5px;
  width: 180px;
}

#logo img {
  width: 100%;
}

#nav-options {
  margin-top: 10px;
  color: grey;
}

#nav-options li {
  margin-bottom: 10px;
}

#nav-options a{
  padding: 10px;
}

#nav-options .fa-bars {
  transform: rotate(90deg);
}

.current-section {
  border-left: 2px solid green;
}

#playlist {
  padding-left: 15px;
}

.my-playlist {
  text-decoration: none;
}

#playlist h3 {
  margin-top: 10px;
}

#add-playlist{
  align-items: center;
}

#add-playlist {
  color: grey;
}

#add-playlist a {
  padding-left: 10px;
}

#add-playlist .fa-square-plus{
  font-size: 40px;
  margin-bottom: 10px;

}

#playlist {
  overflow:auto;
  height: 70%;
}

#my-playlist li{
  margin: 10px 0;
}

#my-playlist a{
  padding: 10px 0;
}

#last-info > span {
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  display: block;
}

#user {
  padding: 5px;
  align-items: center;
}
#user h4 {
  padding-left: 10px;
}

#icon {
  width: 25px;
}

#user img{
  width: 100%;
  background-color:grey;
  border-radius: 50%;
}


/* Regole application */

#application {
  height: calc(100vh - 70px);
  width: calc(100% - 200px);
  overflow: auto;
  background-color: rgb(20, 25, 34);
}

#upgrade{
  position: fixed;
  width: calc(100% - 200px);
  background-color: black;
  height: 50px;
  z-index: 99;
}

#interface {
  margin-top: 70px;
}

#interface a {
  padding: 5px 10px;
}

#interface > span {
  margin-left: 10px;
}

.current-category {
  border-bottom: 2px solid green;
}

#categories {
  margin-bottom: 30px;
}

#recently-played, #for-you, #artists {
  padding: 10px;
  margin: 15px 0;
  font-size: 12px;
}

.album {
  width: calc((100% /6) - 5px);
  margin-right: 5px;
}

.album img {
  width: 100%;
}

.album-cover {
  position: relative;
}

.artist img {
  border-radius: 360px;
}

#interface .fa-circle-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  display: none;
}

#interface .album-cover:hover .fa-circle-play{
  display: inline;
}

.album .album-cover:hover img {
  opacity: 0.7;
}

.album-infos {
  text-align: center;
}




/* Regole footer */

footer {
  height: 70px;
  background-color: rgb(40, 40, 40);
}

.song {
  padding: 10px;
}

.song-image {
  height: 50px;
}

.song-image img{
  height: 100%;
}

.song-infos span {
  padding-left: 10px;
}

footer .col-xs-2 > .row {
  justify-content: space-between;
  align-items: center;
}

.song-options {
  color: grey;
}

.fa-heart {
  margin-right: 10px;
}

#song-setting, #music-bar {
  margin-top: 10px;
}

#song-setting i {
  margin-left: 10px;
  padding: 0px 10px;
  font-size: 18px;
}

#volume-setting i {
  padding: 25px 5px;
}


/* DEBUG */

